@model IEnumerable<TaskWebApp.Models.TasksData>

@{
    ViewBag.Title = "Index";
}



<p>
    @Html.ActionLink("Create New", "Create")
</p>

<h2>Task List</h2>

<!-- Filter Dropdown -->
<form method="get" action="@Url.Action("Index")">
    <div class="form-group">
        <label for="stateFilter">Filter by State:</label>
        <select id="stateFilter" name="stateFilter" class="form-control" onchange="this.form.submit()">
            <option value="">All</option>
            @foreach (var item in ViewBag.StateList as List<SelectListItem>)
            {
                <option value="@item.Value" @(item.Selected ? "selected" : "")>@item.Text</option>
            }
        </select>
    </div>
</form>

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Description)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.State)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.LastDate)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Description)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.State)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.LastDate)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.Id }) |
                @Html.ActionLink("Delete", "Delete", new { id = item.Id })
            </td>
        </tr>
    }

</table>
